{% load static %}
<!DOCTYPE html>
<html lang="es" data-bs-theme="light" id="theme-element">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}CoopBingo{% endblock %}</title>
  <link rel="icon" type="image/svg+xml" href="{% static 'img/icono_bingo.svg' %}">

  <link href="{% static 'vendor/fonts/inter/inter.css' %}" rel="stylesheet">

  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/animate/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  
  {% block extra_css %}{% endblock %}
</head>
<body>

  {% include 'comunes/navbar.html' %}

<main class="container py-4">
  
  

  {% block content %}
  {% endblock %}
  
</main>

{% block modals %}{% endblock %}

  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
  <script src="{% static 'js/main.js' %}"></script>
  
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    // Seleccionamos todos los botones de ojito que existan en la página
    const toggleButtons = document.querySelectorAll('.toggle-password-btn');
    
    toggleButtons.forEach(button => {
      button.addEventListener('click', function() {
        // Buscamos el input y el icono que están pegados a este botón específico
        const input = this.closest('.input-group').querySelector('.toggle-password-field');
        const icon = this.querySelector('i');
        
        // Lógica de alternancia (Toggle)
        if (input.type === 'password') {
          input.type = 'text'; // Mostramos la contraseña
          icon.classList.remove('fa-eye');
          icon.classList.add('fa-eye-slash'); // Ponemos el ojito tachado
        } else {
          input.type = 'password'; // Ocultamos la contraseña
          icon.classList.remove('fa-eye-slash');
          icon.classList.add('fa-eye'); // Ponemos el ojito normal
        }
      });
    });
  });
</script>

  {% block extra_js %}{% endblock %}
  {% include 'componentes/alertas.html' %} 
  
  </body>
</html>
